.entry-content {
    p:nth-child(1) {
        font-size: 3em;
    }
}

.entry-footer {
    display: none;
}

.conference {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .thumbnailConference {
        width: 200px;
        height: 200px;
    }
}