.entry-content {
    p:nth-child(1) {
        font-size: 3em;
    }
}

.site-branding {
    display: none;
}

#primary-menu {
    ul {
        display: none;
    }
}

.entry-footer {
    display: none;
}

.post-thumbnail {
    img {
        width: 100%;
        height: 600px;
    }
}

.conference {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .thumbnailConference {
        width: 200px;
        height: 200px;
    }
}

.content-nouvelle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .nouvelle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    
        .containNews {
            display: flex;
            flex-direction: column;
            
            .thumbnailNouvelle {
                width: 200px;
                height: 200px;
            }
        }
    }
}